body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.total-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 7px 16px 8px;

    .cards-text {
        color: #2d2d5f;
        font-weight: 600;
    }
}

.credit-card {
    width: 235px;
    height: 128px;
    margin-left: 20px;
    background: #2d2d5f;
    background: linear-gradient(to bottom, #2d2d5f 50%, #91a9a9 50%);
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .chip {
        width: 50px;
        height: 35px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        border-radius: 5px;
    }

    .logo-1 {
        width: 54px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-number {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 2px;
    }

    .card-holder,
    .expires {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
        font-size: 12px;
    }

    .expires {
        bottom: 45px;
    }
}

.addData {
    display: flex;
    align-items: center;
    border: 2px dashed #e7e7e7;
    border-radius: 8px;
    margin: 38px 4px 0px 4px;
    position: relative;
    padding: 8px 0px;

    .addCircle {
        margin-left: 64px;
    }

    .payment {
        color: #000034;
        font-weight: 600;
    }

    ::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        top: 76px;
        transform: translateX(-50%);
        width: 80%;
        border-bottom: 1px solid #efefef;
    }

}


.quick-actions {
    display: flex;
    flex-direction: column;
    padding-top: 42px;

    h4 {
        color: #2d2d5f;
        font-weight: 700;

    }

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 2px solid #efefef;
        border-radius: 10px;
        overflow: hidden;

        .action {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 5px 5px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                left: 70px;
                height: 100%;
                width: 2px;
                background-color: #efefef;
            }

            &:last-child::after {
                content: none;
            }

            img {
                margin-bottom: 5px;
            }
        }
    }
}

.savings {
    display: flex;
    flex-direction: column;
    align-items: center;

    .savings-top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 30px;

        h4 {
            color: #2d2d5f;
            font-weight: 700;
        }
    }
}



.card {
    display: flex;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .card-text {
            color: #777;
            margin-bottom: 15px;
        }

        .view-more {
            display: block;
            text-decoration: none;
            color: #007bff;
            margin-bottom: 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        .progress-bar {
            height: 10px;
            background-color: #007bff;
            width: 100%;
            border-radius: 5px;
        }
    }
}

.json-content {
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 2px;

    .json-1 {
        flex: 0 0 48%;
        margin: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .json-image img {
            width: 100%;
            height: auto;
            border: 1px solid #efefef;
            border-radius: 5px;
            padding: 2px;
        }

        .json-title {
            flex-grow: 1;
            padding-left: 18px;
            margin-bottom: 13px;

            h6 {
                font-size: 14px;
                font-weight: 800;
                color: #000031;
                margin: 10px 0px 0px 12px;
            }

            span {
                color: #b1b4b9;
                font-weight: 700;
            }
        }

        .more {
            cursor: pointer;
        }
    }

    .json-2 {
        .sum-values {
            display: flex;
            justify-content: space-around;

            span {
                color: #2d2d5f;
                font-size: 14px;
                font-weight: 800;
            }
        }

        .progress-bar-container {
            width: 250px;
            height: 6px;
            background-color: #e0e0e0;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
        }

        .progress-bar {
            height: 100%;
            background-color: #000031;
            transition: width 0.3s ease;
        }
    }
}