<div class="bankLogo">
    <img class="hexaLogo" src="assets/images/hexa_logo.png" alt="Hexa bank logo">
    <h4>Hexa Bank</h4>
    <img class="leftArrow" src="assets/images/left.svg" alt="Left Arrow">
</div>


<div class="profileDetails">
    <img class="profilePic" src="assets/images/profile.svg" alt="Profile Pic">
    <span>{{userName}}</span>
    <div class="content">
        <img src="assets/images/unfold_more.svg" alt="Unfold More">
    </div>
</div>

<div class="menu">
    <h4>MENU</h4>
    <div class="nav-item active">
        <img src="assets/images/overview.svg" alt="Overview">
        <a class="nav-link">Overview</a>
    </div>
    <div class="nav-item">
        <img src="assets/images/transaction.svg" alt="Transaction">
        <a class="nav-link">Transaction</a>
    </div>
    <div class="nav-item">
        <img src="assets/images/analytics.svg" alt="Analytics">
        <a class="nav-link">Analytics</a>
    </div>
    <div class="nav-item">
        <img src="assets/images/cards.svg" alt="Cards">
        <a class="nav-link">Cards</a>
    </div>
</div>


<div class="general">
    <h4>GENERAL</h4>
    <div class="nav-item">
        <img src="assets/images/settings.svg" alt="Settings">
        <a class="nav-link">Settings</a>
    </div>
    <div class="nav-item">
        <img src="assets/images/help.svg" alt="Help">
        <a class="nav-link">Help</a>
    </div>
    <div class="nav-item">
        <img src="assets/images/mode.svg" alt="Mode">
        <a class="nav-link">Mode</a>
        <div class="list-item">
            <input type="checkbox" id="optionA" />
            <label for="optionA" class="toggle">
                <div class="slider"></div>
            </label>
        </div>
    </div>

</div>

<div class="addData">
    <img class="addCircle" src="assets/images/add_circle.svg" alt="Add Data">
    <span class="payment">New Payment</span>
</div>